@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sz5k5s');
  src:  url('fonts/icomoon.eot?sz5k5s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sz5k5s') format('truetype'),
    url('fonts/icomoon.woff?sz5k5s') format('woff'),
    url('fonts/icomoon.svg?sz5k5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e909";
  color: #999;
}
.icon-close:before {
  content: "\e90a";
  color: #999;
}
.icon-fm:before {
  content: "\e900";
  color: #999;
}
.icon-find-music:before {
  content: "\e901";
}
.icon-voice:before {
  content: "\e902";
  color: #999;
}
.icon-me:before {
  content: "\e903";
  color: #999;
}
.icon-music:before {
  content: "\e904";
  color: #aaa;
}
.icon-people:before {
  content: "\e905";
  color: #aaa;
}
.icon-sound:before {
  content: "\e906";
  color: #999;
}
.icon-left:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-headphones:before {
  content: "\e910";
}
